{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'coloring/background_style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <style>
            body{
                font-family: Montserrat;
            }
        </style>
    </head>
    <body>
        <h1>Home</h1>
        <h2 style="margin-bottom: 0%;">
            Welcome! This webpage allows you to do several image manipulations. 
        </h2>
        <h2 style="margin-bottom: 2%; margin-top: 0%;">
            Including image coloring, background changing and turning an image to black and white
        </h2>
        <h3 style="margin-bottom: 0%;">
            Feel free to explore our options on the navigation bar on the top left side of your screen 
        </h3>
        <h3 style="margin-bottom: 0%;">or keep scrolling to see and overview of the functionality and some examples :)</h3>
        <div class="vertical_menu">
            <p> Click to explore other options </p>
            <a href="{% url 'coloring:home' %}">Home</a>
            <a href="{% url 'coloring:color' %}">Color</a>
            <a href="{% url 'coloring:background' %}">Background</a>
            <a href="{% url 'coloring:black_white' %}" class = "active">Black and white</a>
        </div>
    </body>
</html>